.support-chat {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 9999;
}

.chat-icon {
  background-color:#5c3c3c;
  color: #fff;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.chat-icon:hover {
  background-color: #9e0b09;
}

.chat-window {
  position: fixed;
  bottom: 90px;
  right: 20px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  width: 300px;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header {
  background-color: #3f51b5;
  color: #fff;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.close-icon {
  cursor: pointer;
}

.messages {
  padding: 10px;
  overflow-y: scroll;
}

.message {
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 5px;
}

.message.bot {
  background-color: #f2f2f2;
}

.input-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

input[type='text'] {
  flex:auto;
}
